{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Accounts_css/friends_list.css' %}">
{% endblock %}
{% block content %}
<div class="friends-list-container">
    <h2>Following</h2>

    {% if following_list %}
        <ul class="friends-list">
            {% for following_user in following_list %}
                <li class="friend-item">
                        <img src="{{ following_user.profile_picture.url }}" alt="{{ following_user.username }}'s profile picture" class="profile-image">

                    <div class="friend-info">
                            <h3>{{ following_user.username }}</h3>
                        <p>Points: {{ following_user.points }}</p>
                    </div>
                    <div class="user-actions">
                        <a href="{%  url 'user_details' following_user.pk %}" class="view-profile-btn">View Profile</a>
                        <form method="post" action="{% url 'unfollow' following_user.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="remove-friend-btn">Unfollow</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>🚶‍♂️ Looks like you’re on a solo adventure! You’re not following anyone... yet! 🌍✨</p>
    {% endif %}
</div>
{% endblock %}
