{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Accounts_css/profile_details.css' %}">
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <!-- Профилна снимка и VIP статус -->
            <div class="profile-picture-wrapper">
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture {% if user.is_vip %}vip{% endif %}">

                {% if user.is_vip %}
                    <div class="vip-badge">VIP</div>
                {% endif %}
            </div>
            <!-- Потребителско име и точки -->
            <div class="profile-info">
                <h2>{{ user.username }}</h2>
                {% if user.first_name or user.last_name %}
                    <p class="name">
                        {% if user.first_name %}{{ user.first_name }}{% endif %}
                        {% if user.first_name and user.last_name %} {% endif %}
                        {% if user.last_name %}{{ user.last_name }}{% endif %}
                    </p>
                {% endif %}
                <p class="points">Points: {{ user.points }} </p>
            </div>
        </div>

        <!-- Линкове към приятели и билети -->
        <div class="profile-links">
            <p> <a href="{% url 'following_list' user.pk %}">{{ user.get_following.count }} Following</a></p>
            <p> <a href="{% url 'followers_list' user.pk %}">{{ user.get_followers.count }} Followers</a></p>
            <p> <a href="{%  url 'user_tickets' user.pk %}">{{ user.get_valid_tickets.count }} Tickets</a></p>
        </div>

        <!-- Информация за потребителя -->
        <div class="profile-info-details">
            <h3>About Me: </h3>
            {% if user.bio %}
            <p>{{ user.bio }}</p>
                {% else %}
                <p>Oops! Looks like you haven't set your party vibe yet! 🎉 Add a little sparkle to your bio!</p>
            {% endif %}
        </div>

        <!-- Бутон за редактиране на профила -->
        <div class="edit-profile">
            <a href="{% url 'profile_edit' user.pk %}" class="edit-btn">Edit Profile</a>
        </div>
    </div>
{% endblock %}
