{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Accounts_css/profile_details.css' %}">
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <!-- Профилна снимка и VIP статус -->
            <div class="profile-picture-wrapper">
                {% if other_user.profile_picture %}
                <img src="{{ other_user.profile_picture.url }}" alt="Profile Picture" class="profile-picture {% if other_user.is_vip %}vip{% endif %}">
                {% else %}
                <img src="{% static 'images/profiles/default_img.jpg' %}" alt="Profile Picture" class="profile-picture {% if other_user.is_vip %}vip{% endif %}">
            {% endif %}
                {% if other_user.is_vip %}
                    <div class="vip-badge">VIP</div>
                {% endif %}
            </div>
            <!-- Потребителско име и точки -->
            <div class="profile-info">
                <h2>{{ other_user.username }}</h2>
                <p class="points">Points: {{ other_user.points }}</p>
            </div>
        </div>

        <!-- Линкове към приятели и билети -->
        <div class="profile-links">
            <p>
{#                <a href="{% url 'following_list_user' object.pk %}">#}
                {{ other_user.get_following.count }} Following
{#            </a>#}
            </p>
            <p>
{#                <a href="{% url 'followers_list_user' object.pk %}">#}
                    {{ other_user.get_followers.count }} Followers
{#                </a>#}
            </p>
        </div>

        <!-- Информация за потребителя -->
        <div class="profile-info-details">
            <h3>About Me: </h3>
            <p>{{ other_user.bio }}</p>
        </div>
        <form method="post" action="{% url 'unfollow' other_user.pk %}">
            {% csrf_token %}
            <button type="submit" class="remove-friend-btn">Unfollow</button>
        </form>
    </div>
{% endblock %}
