{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Accounts_css/profile_details.css' %}">
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <!-- Профилна снимка и VIP статус -->
            <div class="profile-picture-wrapper">
                {% if object.profile_picture %}
                <img src="{{ object.profile_picture.url }}" alt="Profile Picture" class="profile-picture {% if object.is_vip %}vip{% endif %}">
                {% else %}
                <img src="{% static 'images/profiles/default_img.jpg' %}" alt="Profile Picture" class="profile-picture {% if object.is_vip %}vip{% endif %}">
            {% endif %}
                {% if user.is_vip %}
                    <div class="vip-badge">VIP</div>
                {% endif %}
            </div>
            <!-- Потребителско име и точки -->
            <div class="profile-info">
                <h2>{{ object.username }}</h2>
                <p class="points">Points: {{ object.points }}</p>
            </div>
        </div>

        <!-- Линкове към приятели и билети -->
        <div class="profile-links">
            <p> <a href="{% url 'following_list' %}">{{ object.get_following.count }} Following</a></p>
            <p> <a href="">{{ object.get_followers.count }} Followers</a></p>
{#            <p> <a href="">{{ object.tickets.count }} Tickets</a></p>#}
        </div>

        <!-- Информация за потребителя -->
        <div class="profile-info-details">
            <h3>About Me: </h3>
            <p>{{ object.bio }}</p>
        </div>
    </div>
{% endblock %}
