{% extends "Common/base.html" %}
{% load custom_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Accounts_css/Users_search.css' %}">
{% endblock %}
{% block content %}
<div class="user-list-container">
    <h2>All Users</h2>

    <!-- Търсачка за потребители -->
    <form method="get" action="" class="search-form">
        <label>
            <input type="text" name="query" placeholder="Search users..." value="{{ request.GET.query }}" class="search-input">
        </label>
        <button type="submit" class="search-btn">Search</button>
    </form>

    <!-- Списък с потребители -->
    {% if users %}
        <ul class="user-list">
            {% for user in users %}
                <li class="user-item">
                    <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s profile picture" class="profile-image">

                    <div class="user-info">
                        <h3>{{ user.username }}</h3>
                        <p>Points: {{ user.points }}</p>
                    </div>
                    <div class="user-actions">
                        <a href="{%  url 'user_details' user.pk %}" class="view-profile-btn">View Profile</a>
                        <form method="post" action="{% url 'follow' user.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="add-friend-btn">Follow</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>🔍 Oops! No users found here… Maybe they’re hiding? 🕵️‍♂️ Try searching again! 🌐</p>
    {% endif %}

</div>
    <div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="{% build_url request page=1 q=request.GET.q %}" class="pagination-button">First</a>
            <a href="{% build_url request page=users.previous_page_number q=request.GET.q %}" class="pagination-button">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}
        </span>

        {% if users.has_next %}
            <a href="{% build_url request page=users.next_page_number q=request.GET.q %}" class="pagination-button">Next</a>
            <a href="{% build_url request page=users.paginator.num_pages q=request.GET.q%}" class="pagination-button">Last</a>
        {% endif %}
    </span>
</div>
{% endblock %}
