{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Accounts_css/profile_details.css' %}">
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <!-- Профилна снимка и VIP статус -->
            <div class="profile-picture-wrapper">
                <img src="{{ other_user.profile_picture.url }}" alt="Profile Picture" class="profile-picture {% if other_user.is_vip %}vip{% endif %}">

                {% if other_user.is_vip %}
                    <div class="vip-badge">VIP</div>
                {% endif %}
            </div>
            <!-- Потребителско име и точки -->
            <div class="profile-info">
                <h2>{{ other_user.username }}</h2>
                <p class="points">Points: {{ other_user.points }}</p>
            </div>
        </div>

        <!-- Линкове към приятели и билети -->
        <div class="profile-links">
            <p>
                {{ other_user.get_following.count }} Following
            </p>
            <p>
                {{ other_user.get_followers.count }} Followers
            </p>
        </div>

        <!-- Информация за потребителя -->
        <div class="profile-info-details">
            <h3>About Me: </h3>
            {% if other_user.bio %}
            <p>{{ other_user.bio }}</p>
            {% else %}
                <p><p>Hmm... This party animal is still working on their bio! 🧐</p>
            {% endif %}
        </div>
    {% if request.user.is_authenticated %}
    {% if i_follow_him %}
        <form method="post" action="{% url 'unfollow' other_user.pk %}">
            {% csrf_token %}
            <button type="submit" class="remove-friend-btn">Unfollow</button>
        </form>
        {%  else  %}
        <form method="post" action="{% url 'follow' other_user.pk %}">
            {% csrf_token %}
            <button type="submit" class="add-friend-btn">Follow</button>
        </form>
    {% endif %}
    {% endif %}
    </div>

{% endblock %}
