{% load static %}
<nav id="navbar">
    <div id="logo">
        <a class="logo-container" href="{% url 'index' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="EventHub Logo" class="logo">
        <h1 class="site-title">PartyHub</h1>
        </a>
    </div>
    <div id="nav_links">

        <!-- Линкове за не влезли потребители -->
        {% if not request.user.is_authenticated %}
        <div id="guest_links">
            <a href="{%  url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
        {% else %}

            <!-- Линкове за влезли потребители -->
            <div id="user_links">
                <a href="">Create Party</a>
                <a href="{% url 'all_parties' %}">Parties</a>
                <a href="{% url 'users' %}">Find Friends</a>

                <!-- Падащо меню за "My Account" -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">My Account</a>
                    <div class="dropdown-content">
                        <a href="{% url 'profile_details' %}">View Profile</a>
                        <a href="">My Tickets</a>
                        <a href="{% url 'friends_list' %}">My Friends</a>
                        <a href="{% url 'index' %}">My Parties</a>
                        <form method="post" action="{% url 'logout' %}" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="logout-link"><a>Logout</a></button>
                        </form>
                    </div>
                </div>
            </div>

    {% endif %}
    </div>
</nav>
<script src="{% static 'JS/Nav_buttons_functionality.js' %}"></script>

