{% extends "Common/base.html" %}
{% load static %}
{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/Parties_css/create_party.css' %}">
{% endblock %}
{% block content %}
<div class="create-party-container">
    <h2>Create a Party</h2>

    <!-- Форма за създаване на парти -->
    <form method="post" enctype="multipart/form-data" class="party-form">
        {% csrf_token %}
        {{ form.as_p }} <!-- Рендиране на полетата на формата -->
        
        <!-- Бутон за създаване на парти -->
        <button type="submit" class="submit-btn">Create Party</button>
    </form>
</div>
{% endblock %}
