{% extends "Common/base.html" %}
{% load custom_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Parties_css/live_party.css' %}">
{% endblock %}
{% block content %}
<div class="party-container">
    <!-- Заглавие и снимка на партито -->
    <h1 class="party-title">{{ party.title }}</h1>
    <img src="{{ party.image.url }}" alt="Party Image" class="party-image">

    <div class="attendance-lists">

        <!-- Списък с хора, които още не са дошли -->
        <div class="attendance-list">
            <h2>Not Arrived</h2>
            <ul>
                {% get_tickets_for_party_by_check_variable party False as unchecked_tickets %}
                {% for ticket in unchecked_tickets %}
                    <li class="attendee-card">
                        <img src="{{ ticket.participant.profile_image.url }}" alt="Profile Picture" class="attendee-image">
                        <span class="attendee-name">{{ ticket.participant.username }}</span>
                        <span class="attendee-points">{{ ticket.participant.points }} points</span>
                        <form method="post" action="{% url 'mark_as_arrived' ticket.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="status-button">Mark as Arrived</button>
                        </form>
                    </li>
                {% empty %}
                    <p>All guests have arrived!</p>
                {% endfor %}
            </ul>
        </div>
            <!-- Списък с хора, които са дошли -->
        <div class="attendance-list">
            <h2>Attendees</h2>
            <ul>
                {% get_tickets_for_party_by_check_variable party True as checked_tickets %}
                {% for ticket in checked_tickets %}
                    <li class="attendee-card">
                        <img src="{{ ticket.participant.profile_image.url }}" alt="Profile Picture" class="attendee-image">
                        <span class="attendee-name">{{ ticket.participant.username }}</span>
                        <span class="attendee-points">{{ ticket.participant.points }} points</span>
                        <form method="post" action="{% url 'mark_as_not_arrived' ticket.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="status-button">Mark as Not Arrived</button>
                        </form>
                    </li>
                {% empty %}
                    <p>No attendees yet.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}