{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Parties_css/party_details.css' %}">
{% endblock %}
{% block content %}
<div class="party-details-container">
    <h2>{{ party.name }}</h2>
    
    <div class="party-details-content">
        <!-- Изображение на партито -->
        {% if party.picture %}
            <img src="{{ party.picture.url }}" alt="Party Image" class="party-image">
        {% else %}
            <img src="{% static 'images/img.png' %}" alt="Default Party Image" class="party-image">
        {% endif %}

        <div class="party-info">
            <p><strong>Title:</strong> {{ party.title }}</p>
            <p><strong>Start:</strong> {{ party.start_time }}</p>
            <p><strong>End:</strong> {{ party.end_time }}</p>
            <p><strong>Location:</strong> {{ party.location }}</p>
            <p><strong>Organizer:</strong> {{ party.organizer.username }}</p>
            <p><strong>Description:</strong> {{ party.description }}</p>
            <p><strong>Attendees:</strong> {{ party.tickets.count }} people</p>
            
            <!-- Бутон за участие или напускане на партито -->
            {% if user.is_authenticated %}

                {% if status == 'owner' %}

                    <a href="{% url 'delete_party' party.slug %}" class="details-link delete-party">Delete Party</a>
                    <a href="{% url 'edit_party' party.slug %}" class="details-link edit-party">Edit Party</a>

                {% else %}

                    {% if  status == 'can_buy'%}

                        <button type="submit" class="join-party-button" onclick="window.location.href='{% url 'get_ticket' party.slug %}'">Buy Ticket</button>

                    {% else %}

                        <div class="no-ticket-message">

                                {% if status == 'no_spots' %}
                                    <p>🎟️ Sorry, party's all packed! No tickets left. 🎉</p>
                                    {% elif status == 'have_ticket' %}
                                         <p>🦉 Hoot hoot! You’re all set with a ticket! 🎟️ Ready to party? 🕺💃</p>
                                {% elif status == late_for_tickets %}
                                    <p>⏳ Oops! Ticket sales closed on {{ party.registration_deadline }}. Better luck next time! 😉</p>
                                {% else %}
                                    <p>🚫 Unfortunately, tickets are unavailable for this event. Stay tuned for more!</p>
                                {% endif %}
                        </div>

                    {% endif %}

                {% endif %}

            {% else %}

                <p>Please <a href="{% url 'login' %}">log in</a> to join this party.</p>

            {% endif %}

        {% if user.is_authenticated %}

                {% if question_form %}

                    <div class="questions-section">
                        <h3>Ask a Question:</h3>
                        <form method="post" action="{% url 'question_create' party.slug %}">
                            {% csrf_token %}
                            {{ question_form.as_p }}
                            <button type="submit" class="question-button">Post Question</button>
                        </form>
                    </div>

                {% endif %}

            {% endif %}

            <div class="questions-list">
                {% for question in party.questions.all %}
                    <div class="question">
                        <p><strong>{{ question.author.username }}:</strong> {{ question.text }}</p>

                        {% if user == question.author %}

                        <form method="post" action="{% url 'delete_question' question.pk party.slug %}">
                            {% csrf_token %}
                            <button class="delete-button">Delete</button>
                        </form>

                        {% endif %}

                        {% if question.answer %}

                            <div class="answer">
                                <p><strong>Answer from {{ question.answer.author.username }}:</strong> {{ question.answer.text }}</p>
                                {% if answer_form %}
                                    <form method="post" action="{% url 'delete_answer' question.answer.pk party.slug %}">
                                    {% csrf_token %}
                                    <button class="delete-button">Delete</button>
                                    </form>
                                    {% endif %}
                            </div>
                        {% else %}
                            {% if user.is_authenticated and answer_form %}
                                <form method="post" action="{% url 'answer_create' question.pk party.slug %}">
                                    {% csrf_token %}
                                    {{ answer_form.as_p }}
                                    <button type="submit" class="answer-button">Post Answer</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
