{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Parties_css/user_party_list.css' %}">
{% endblock %}

{% block content %}
<div class="user-parties-container">
    <h2>My Parties</h2>

    {% if upcoming_parties or past_parties%}
        <div class="parties-list">
            {% for party in upcoming_parties %}
                <div class="party-card">
                    {% if party.picture %}
                        <img src="{{ party.picture.url }}" alt="Party Image" class="party-image">
                    {% else %}
                        <img src="{% static 'images/img.png' %}" alt="Default Party Image" class="party-image">
                    {% endif %}
                    <div class="party-details">
                        <h3>{{ party.title }}</h3>
                        <p><strong>Party start:</strong> {{ party.start_time }}</p>
                        <p><strong>Location:</strong> {{ party.location }}</p>
                        <p>{{ party.description|truncatewords:20 }}</p>
                        <a href="{% url 'details_party' party.slug %}" class="details-link">View Details</a>
                        <a href="{% url 'edit_party' party.slug %}" class="details-link">Edit Party</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="parties-list">
            {% for party in past_parties %}
                <div class="party-card">
                    {% if party.picture %}
                        <img src="{{ party.picture.url }}" alt="Party Image" class="party-image">
                    {% else %}
                        <img src="{% static 'images/img.png' %}" alt="Default Party Image" class="party-image">
                    {% endif %}
                    <div class="party-details">
                        <h3>{{ party.name }}</h3>
                        <p><strong>Date:</strong> {{ party.start_time }}</p>
                        <p><strong>Location:</strong> {{ party.location }}</p>
                        <p>{{ party.description|truncatewords:20 }}</p>
                        <a href="{% url 'delete_party' party.slug %}" class="details-link">Delete Party</a>

                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>"Looks like you're still keeping things low-key... How about throwing the most epic party ever? 😎"</p>
    {% endif %}
</div>
{% endblock %}