{% extends "Common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/Parties_css/user_party_list.css' %}">
{% endblock %}

{% block content %}
<div class="user-parties-container">
    <h2>My Parties</h2>

    {% if upcoming_parties or past_parties%}
        <div class="parties-list">
            {% for party in upcoming_parties %}
                <div class="party-card">
                    {% if party.image %}
                        <img src="{{ party.image.url }}" alt="Party Image" class="party-image">
                    {% else %}
                        <img src="{% static 'default_party_image.jpg' %}" alt="Default Party Image" class="party-image">
                    {% endif %}
                    <div class="party-details">
                        <h3>{{ party.name }}</h3>
                        <p><strong>Date:</strong> {{ party.date }}</p>
                        <p><strong>Location:</strong> {{ party.location }}</p>
                        <p>{{ party.description|truncatewords:20 }}</p>
                        <a href="{% url 'details_party' party.pk %}" class="details-link">View Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="parties-list">
            {% for party in past_parties %}
                <div class="party-card">
                    {% if party.image %}
                        <img src="{{ party.image.url }}" alt="Party Image" class="party-image">
                    {% else %}
                        <img src="{% static 'default_party_image.jpg' %}" alt="Default Party Image" class="party-image">
                    {% endif %}
                    <div class="party-details">
                        <h3>{{ party.name }}</h3>
                        <p><strong>Date:</strong> {{ party.date }}</p>
                        <p><strong>Location:</strong> {{ party.location }}</p>
                        <p>{{ party.description|truncatewords:20 }}</p>
                        <a href="{% url 'delete_party' party.pk %}" class="details-link">Delete Party</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't created any parties yet.</p>
    {% endif %}
</div>
{% endblock %}