html, body {
    height: 100%; /* Задаваме 100% височина на HTML и body */
    margin: 0; /* Премахваме отстъпите по подразбиране */
}

body {
    display: flex; /* Използваме Flexbox за подредба */
    flex-direction: column; /* Подреждаме елементите по колонен начин */
}

main {
    flex: 1; /* Основното съдържание заема наличното пространство */
}