#navbar {
    display: flex; /* Използваме Flexbox за подредба */
    justify-content: space-between; /* Разпределяме пространството между логото и линковете */
    align-items: center; /* Центрираме вертикално елементите */
    padding: 15px;
    background-color: #25e091; /* Светло зелено (можеш да промениш на #0099cc за светло синьо) */
    color: #000000;
    position: fixed; /* Фиксира навигацията в горната част */
    top: 0; /* Позиция отгоре на страницата */
    left: 0; /* Позиция отляво на страницата */
    right: 0; /* Позиция отдясно на страницата */
    z-index: 1000; /* Задаваме по-висок z-index, за да е над другите елементи */
}

body {
    margin-top: 70px; /* Отстъп за основното съдържание, за да не се покрива от навигацията */
}

#logo h1 {
    margin: 0; /* Премахваме отстъпа по подразбиране */
}

#nav_links {
    display: flex; /* Подреждаме линковете в ред */
}

.logo-container {
    text-decoration: none; /* Премахва подчертаването */
    color: inherit; /* Задава цвета според родителския елемент */
    display: flex; /* Подравнява логото и текста хоризонтално */
    align-items: center; /* Центрира логото и текста по вертикала */
}

.logo {
    width: 50px; /* Ширина на логото */
    height: 50px; /* Височина на логото */
    border-radius: 50%; /* Правим логото кръгло */
    margin-right: 10px; /* Отстъп отдясно на логото */
}


#nav_links a {
    font-size: 20px;
    color: rgba(0, 0, 0); /* Цвят на текста */
    text-decoration: none; /* Премахваме подчертаването */
    margin-left: 20px; /* Отстояние между линковете */
}

#nav_links a:hover {
    text-decoration: underline; /* Подчертаване при задържане на курсора */
}
